<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: head"></head>

<body>


<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <form th:action="@{/products/update}" th:method="post" th:object="${product}">
                <input type="hidden" th:field="*{id}" id="id" name="id">

                <div class="form-group">
                    <label>Название продукта</label>
                    <input type="text" th:field="*{title}" class="form-control" id="title" name="title" placeholder="Введите название продукта">
                </div>

                <div class="form-group">
                    <label>Стоимость</label>
                    <input type="number" th:field="*{cost}" class="form-control" id="cost" name="cost" placeholder="Введите стоимость продукта">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>


<script th:replace="fragments/footer.html :: scripts"></script>

</body>
</html>